registry=http://registry.npmjs.org/
strict-ssl=false
legacy-peer-deps=true
fetch-retries=5
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
always-auth=false
maxsockets=50
network-timeout=100000
fetch-retry-factor=2 